<div class="row">
    <div class="span6" id="about">
        <h1>About GeoRelief</h1>
        <p>GeoRelief improves emergency humanitarian response by providing up-to-date data to field workers, empowering informed, optimized decisions in real-time while emergencies unfold.</p>
        <p>Global Humanitarian Assistance estimated that Governments poured $12.4 billion into emergency relief in 2010 (6&#37; increase from 2009), while private donors gave $4.3 billion. The total number of Humanitarian Aid workers around the world according to Active Learning Network for Accountability and Performance (ALNAP) was 274,238 in 2010.</p>
    </div>
    <div class="span6" id="homemap"></div>
</div>
<div class="row">
    <div class="span6">
        <h2>GeoRelief Technologies uniquely focuses on the coordination needs of humanitarian field workers.</h2>
        <p>A flood of situational information emanating from emergencies impairs the organizational ability to harmonize response efforts. The UN Cluster Approach empowers field workers to track and coordinate vital information to make timely and accurate decisions on location.</p>
    </div>
    <div class="span6">
        <h2>GeoRelief saves lives!</h2>
        <p>GeoRelief Technologies is the first emergency assessment and management system for the global humanitarian community. GeoRelief is a real-time distributed database and web portal, populated by Humanitarian Actors using a multi-platform smartphone app.</p>
    </div>
</div>
<div class="row">
    <div class="span6">
        <h2>GeoRelief empowers field decision making.</h2>
        <p>GeoRelief was invented by humanitarian actors based on a lack of decision support during emergency relief situations in Haiti, C&ocirc;te d'Ivoire, Kyrgyzstan, Liberia, Pakistan, Rwanda, Sierra Leone, Sudan - Darfur and Southern Sudan, Thailand and Uganda. GeoRelief departs from competing centralized enterprise application systems by establishing a distributed approach to humanitarian coordination. The application uses the latest open source software technologies for distributed architectures and limited access to communications services.</p>
    </div>
    <div class="span6">
        <h2>GeoRelief facilitates and optimizes distributed decision management in crisis situations.</h2>
    </div>
</div>
