            <ul class="nav nav-tabs account-menu">
                <li id="account-btn">
                    <a href="#/Account">Account</a>
                </li>
                <% if(level == "admin") { %>
                    <li id="admin-btn" class="active">
                        <a href="#">Admin Panel</a>
                    </li>
                <% } %>
                <% if(level == "superadmin") { %>
                    <li id="superadmin-btn">
                        <a href="#/SuperAdmin">Super Admin Panel</a>
                    </li>
                <% } %>
                <% if(level == "clusterlead") { %>
                    <li id="clusterlead-btn">
                        <a href="#/ClusterLead">Cluster Lead Panel</a>
                    </li>
                <% } %>
            </ul>
            <div id="admin" class="white">
                <dl class="account-info">
                    <dt><legend>Add Approved User Email</legend></dt>
                        <dd id="approve-user-form">
                        </dd>
                    <dt><legend>Unregistered Approved Emails</legend></dt>
                        <dd>
                            <table id="approved-users" class="table table-striped"></table>
                        </dd>
                    </dt>
                </dl>
            </div>