<div class="row" id="banner">
    <div class="span12" id="homemap"></div>
    <div class="span6" id="homeinfo">
        <h2>Near-real-time communication between humanitarian actors</h2>
        <ul>
            <li>Service coverage by location, sector and organization</li>
            <li>Reporting of gaps &amp; priority needs</li>
            <li>Reporting of serious incidents &amp; security issues</li>
        </ul>
        <h2>Reliable information</h2>
        <ul>
            <li>Local data entry at the point of service</li>
            <li>Maps with key sites, infrastructure and affected populations</li>
            <li>Up-to-date information on site-based activities</li>
        </ul>
        <h2>Improved decision making</h2>
        <ul>
            <li>Leads to optimal deployment of available resources in order to save lives</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="span12" id="video">
        <video id="my_video_1" class="video-js vjs-default-skin" controls
            preload="auto" width="480" height="480" poster="img/poster.png"
            data-setup="{}">
            <source src="video.mp4" type='video/mp4'>
            <source src="video.webm" type='video/webm'>
        </video>
    </div>
</div>