<div id="map-container">
    <div id="map"></div>
</div>
<div class="panes-container">
    <div id="main-pane" class="info-pane">
        <div id="main-pane-title" class="info-pane-title map-menu">
            <ul>
                <li class='map-menu-btn' id="mapfiltersbtn"><img src="img/filter.png" /></li>
                <li class='map-menu-btn' id="areanavbtn"><img src="img/globe.png" /></li>
                <li class='map-menu-btn mainbtn' id="addlocbtn"><img src="img/add.png" /></li>
                <li class='map-menu-btn' id="listlocbtn"><img src="img/list.png" /></li>
                <li class='map-menu-btn' id="searchlocbtn"><img src="img/search.png" /></li>
            </ul>
        </div>
        <div id="main-pane-content" class="info-pane-content">
            <div class="content" id="filters"></div>
            <div class="content" id="areanav"></div>
            <div class="content" id="main"></div>
            <div class="content" id="loclist">
                <h1>Locations in View</h1>
                <table id="locationslist" class="table table-striped"></table>
            </div>
            <div class="content" id="search">
                <div id="search-form"></div>
                <table id="searchresults" class="table table-striped"></table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="loading">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body loading">
                <p><img src="./img/loader.gif" /> loading...</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="location-error">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Geolocation Error</h4>
            </div>
            <div class="modal-body">
                <p>Looks like we're having trouble finding you. Please make sure you're sharing your location with us.
                <br />
                <small class="muted">This should not interfere with your ability to use the application.</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
            </div>
        </div>
    </div>
</div>
