<form id="addapproveduser" accept-charset="UTF-8">
    <div id="approveduser-error" class="alert alert-error" style="display:none;"></div>
    <fieldset>
        <div class="control-group">
            <div class="controls">
                <label>Email Address</label>
                <div class="text-error"></div>
                <div data-editors="email"></div>
            </div>
        </div>
        <input id="ApproveUser" class="btn btn-primary" type="submit" name="submit" value="Add Email" />
    </fieldset>
</form>