<form id="addarea" accept-charset="UTF-8">
    <div id="area-error" class="alert alert-error" style="display:none;"></div>
    <fieldset>
        <div class="control-group">
            <div class="controls">
                <label>Area Name</label>
                <div class="text-error"></div>
                <div data-editors="areaname"></div>
            </div>
        </div>
        <input id="AddArea" class="btn btn-primary" type="submit" name="submit" value="Add Relief Area" />
    </fieldset>
</form>