<form id="addinst" accept-charset="UTF-8">
    <div id="institution-error" class="alert alert-error" style="display:none;"></div>
    <fieldset>
        <div class="control-group">
            <div class="controls">
                <label>Institution Name</label>
                <div class="text-error"></div>
                <div data-editors="name"></div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label>Institution URL</label>
                <div class="text-error"></div>
                <div data-editors="url"></div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label>Institution Description</label>
                <div class="text-error"></div>
                <div data-editors="description"></div>
            </div>
        </div>

        <input id="AddInstitution" class="btn btn-primary" type="submit" name="submit" value="Add Institution" />
    </fieldset>
</form>