<div id="form">
    <button class="btn btn-primary cluster">Shelter</button>
    <button class="btn btn-primary cluster">Nutrition</button>
    <button class="btn btn-primary cluster">Water</button>
    <br />
    <br />
    <button class="btn btn-primary cluster">Health</button>
    <button class="btn btn-primary cluster">Food</button>
    <button class="btn btn-primary cluster">Logistics</button>
    <br />
    <br />
    <button class="btn btn-primary cluster">Protection</button>
    <button class="btn btn-primary cluster">CCM</button>
</div>