<% _.each(services.rows, function(entry) {%>
    <tr>
        <td>
            <small class='muted'>
                <%= entry.value.institution_name %><br />
                <%= entry.value.realname %><br />
                <%= new Date(entry.value.date).toLocaleString() %>
            </small>
        </td>
        <td>
            <strong>Cluster:</strong>
            <blockquote>
                <%= entry.value.cluster %>
            </blockquote>

            <strong>Current Stage:</strong>
            <blockquote>
                <% if(entry.value.stage == "Plan Pending") { %>
                    <%= entry.value.stage %>
                <% }
                else if(userCreds._id == entry.value.user_id || userCreds.level == "clusterlead") { %>
                    <div id="<%= entry.value._id %>-stage-error" class="alert alert-error" style="display:none;"></div>
                    <select class="updateservicestage" id="<%= entry.value._id %>">
                        <option value="Assessment" <% if(entry.value.stage == "Assessment") { %> selected <% } %>>Assessment</option>
                        <option value="Planned" <% if(entry.value.stage == "Planned") { %> selected <% } %>>Planned</option>
                        <option value="Commenced" <% if(entry.value.stage == "Commenced") { %> selected <% } %>>Commenced</option>
                    </select>
                <% } else { %>
                    <%= entry.value.stage %>
                <% } %>
            </blockquote>

            <strong>Description:</strong>
            <blockquote>
                <%= entry.value.description %>
            </blockquote>

            <strong class="expand-contact">Contact <%= entry.value.contact.realname %> [<span>+</span>]</strong>
            <div class='contact'>
                <blockquote>
                    Phone: <a href="tel:<%= entry.value.contact.phone %>"><%= entry.value.contact.phone %></a><br />
                    Email: <a href="mailto: <%= entry.value.contact.email %>"><%= entry.value.contact.email %></a>
                </blockquote>
            </div>
        </td>
    </tr>
<%}); %>